---
interface Props {
	videoId: string;
    opencastPresentationUrl: string;
    paellaConfig: string;
    // width: string;
    // height: string;
}

const { opencastPresentationUrl, videoId, paellaConfig } = Astro.props;
import defaultPaellaConfig from './paella_config.json'
---


<div class="not-content" style="width:100%; aspect-ratio:16/9;">
    <paella-opencast-player
        video-id=`${videoId}`
        opencast-presentation-url=`${opencastPresentationUrl ?? 'https://stable.opencast.org'}`
        paella-config=`${paellaConfig ?? JSON.stringify(defaultPaellaConfig)}`
    />    
</div>

<script>
    import '@asicupv/paella-opencast-component';
    import '@asicupv/paella-opencast-component/paella-opencast-component.css';
</script>
