:root {
    /* sizes */
    /* --button-fixed-width: 40px; */
    /* --button-fixed-height: 40px; */
    /* --playback-bar-height: var(--button-fixed-height) + 10px; */
    /* --button-icon-size: calc(var(--button-fixed-width) / 2); */

    /* colors */
    --main-fg-color: #F9FAFB;
    --main-bg-color: #1F2937;
    --main-bg-color-hover: #1F2937;

    /* --secondary-bg-color: rgb(32,32,32); */
    --secondary-bg-color-hover: #1F2937;
    --highlight-bg-color: #525252;
    --highlight-bg-color-hover: #424242;
    --main-bg-gradient: #1F2937;
    /* --main-border-color: rgba(125,125,125,0.4); */
    /* --video-container-background-color: #e4e4e4; */
    --base-video-rect-background-color: #9CA3AF;

    --button-fixed-height: 48px;
    /* video-container-message */
    /* --video-container-message-bkg: rgba(0, 0, 0, 0.4); */
    /* --video-container-message-color: white; */

    /* video-container */
    /* --video-container-padding: 10px; */
}


.video-container {
    background-color: #222;
    background-image: linear-gradient(to bottom, #333, #111);
}

.playback-bar .button-plugins button i svg {
    width: 100%;
    height: 100%;
    fill: var(--main-fg-color);
    color: var(--main-fg-color);

}
.progress-indicator-container .progress-indicator-content {
    opacity: 1;
}

.progress-indicator .progress-indicator-content,
.progress-indicator .progress-indicator-remaining {
    border-radius: 20px;
    height: 12px;
}


.playback-bar.inline-mode {
    background-image: linear-gradient(rgb(50, 50, 50) 0%, rgb(50, 50, 50) 35.33%, rgb(40, 40, 40) 35.33%, rgb(40, 40, 40) 70.66%, rgb(34, 34, 34) 70.66%, rgb(34, 34, 34) 100%);
    border-top: 1px solid rgb(89, 87, 87);
}

.progress-indicator .progress-indicator-content {
    background-image:     linear-gradient(to bottom, #ffffff, #807e7e);
    border: 1px solid rgb(89, 87, 87);
}

.progress-indicator .progress-indicator-remaining {
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #1f1f1f, #313131);
    border: 1px solid #9b9b9b;
}

.progress-indicator .progress-indicator-timer {
    color: #555;
}

.playback-bar .button-plugins .button-plugin-container button[name="es.upv.paella.backwardButtonPlugin"] div {
    margin-top: 0;
}

.playback-bar .button-plugins .button-plugin-container button[name="es.upv.paella.forwardButtonPlugin"] div {
    margin-top: 0;
}


.playback-bar .button-plugins button i {
    height: 17px;
}

.player-container button:focus-visible {
    outline-style: none;
    box-shadow: inset 0px 0px 8px 0px #6495ed;
}

.popup-content,
.timeline-popup-content {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 0;
}
ul.menu-button-content li.menu-button-item button:hover {
    background-color: #555;
}
ul.menu-button-content li.menu-button-item button.selected {
    background-color: #333;
    border: 1px solid #555;
}

.frame-control-plugin-container button img {
    border: 1px solid #555;
}